<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shenyang Jianzhu University-Online Service Platform for International Students</title>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">


    <!-- datetimepicker,日期选择控件 -->

    <link href="/node_modules/bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet">

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/node_modules/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>


    <!-- bootstrap-select，表单下拉控件 -->
    <link rel="stylesheet" href="/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
    <script src="/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- viewer图片查看插件 -->



    <script src="/node_modules/viewerjs/dist/viewer.min.js"></script>
    <link href="/node_modules/viewerjs/dist/viewer.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->






</head>
<body >

<div class="container-fluid" style="background-color: white;">
    {include file="st/header"/}
    <div class="row">

        {include file="st/left"/}
        <div  class="col-md-10" style="padding: 10px 10px 20px 0px;margin-top: 5px;">
           <form id="form1" enctype="multipart/form-data">
            <table class="table table-bordered table-striped" id="basic">
                <tr>
                    <td class="text-left" colspan="5" >
                        <div class="col-md-10"> <h4>Educational Background</h4></div><div class="col-md-2 text-right" ><button type="button" class="btn btn-primary btn-xs" onclick="addaaa()">add</button></div>

                    </td>

                </tr>
                <tr>
                    <td class="text-center"><span class="glyphicon glyphicon-star text-danger" aria-hidden="true"></span><strong>Year Attended (From)</strong></td>
                    <td class="text-center"><span class="glyphicon glyphicon-star text-danger" aria-hidden="true"></span><strong>Year Attended (To)</strong></td>
                    <td class="text-center"><span class="glyphicon glyphicon-star text-danger" aria-hidden="true"></span><strong>School Name</strong></td>
                    <td class="text-center"><strong>Field of Study & Diploma received</strong></td>
                    <td class="text-center"><strong>Operation</strong></td>
                </tr>
                {volist name="data1" id="vo"}
                <tr>
                    <td>
                        <div class="row">

                            <div class="form-group col-md-11">
                                <div class='input-group date condate'  >
                                    <input type='text' name="yearfrom[]" class="form-control" value="{$vo.yearfrom}"/>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                </div>
                            </div>


                        </div>
                    </td>
                    <td>
                        <div class="row">

                            <div class="form-group col-md-11">
                                <div class='input-group date condate'  >
                                    <input type='text' name="yearto[]" class="form-control" value="{$vo.yearto}"/>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                </div>
                            </div>


                        </div>
                    </td>
                    <td><input type="text" class="form-control" placeholder="" name="schoolname[]" value="{$vo.schoolname}"></td>
                    <td><input type="text" class="form-control" placeholder="" name="fieldstudy[]" value="{$vo.fieldstudy}"></td>
                    <td class="text-center"><button type="button" class="btn btn-primary btn-xs" onclick="
delNew()">delete</button></td>
                </tr>
                {/volist}
            </table>

            <table class="table table-bordered table-striped" id="imclude">
                <tr>
                    <td  colspan="2" class="text-left"><input type="hidden"  value="{$user}" name="user" ><strong>Upload Documents</strong>&nbsp;&nbsp;&nbsp;&nbsp;<strong style="color: red;">Max Size1M</strong></td>

                </tr>
                <tr>
                    <td class="text-center"><strong>Documents List</strong></td>
                    <td class="text-center"><strong>Operation</strong></td>
                </tr>
                <tr>
                    <td class="col-md-8">  <img id="im1" src="{$data.passport}" width="300" height="240" ></td>
                    <td class="col-md-4">
                        <input type="file" name="image1" style="visibility: hidden" id="up1"/> <br>
                        <input type="button" class="btn btn-primary btn-sm" value="Add Document" onclick="up1.click()">
                        <input type="text" id="passport" style="visibility: hidden" value="{$data.passport}" class="form-control"  name="passport">
                        The Photocopy of Passport (Front page and blank visa page)(*.jpg,*.jpeg,*.png)：</td>
                </tr>
                <tr>
                    <td><img id="im2" src="{$data.graduation}" width="300" height="240" ></td>
                    <td>
                        <input type="file" name="image2" style="visibility: hidden" id="up2"/> <br>
                        <input type="button" class="btn btn-primary btn-sm" value="Add  Document" onclick="up2.click()">
                        <input type="text" id="graduation" style="visibility: hidden" value="{$data.graduation}" class="form-control"  name="graduation">
                        The previous stage of graduation certificate(*.jpg,*.jpeg,*.png)：</td>

                </tr>
                <tr>
                    <td><img id="im3" src="{$data.transcript}" width="300" height="240" ></td>
                    <td>
                        <input type="file" name="image3" style="visibility: hidden" id="up3"/> <br>
                        <input type="button" class="btn btn-primary btn-sm" value="Add Document" onclick="up3.click()">
                        <input type="text" id="transcript" style="visibility: hidden" value="{$data.transcript}" class="form-control"  name="transcript">
                        The previous stage of transcript(*.jpg,*.jpeg,*.png)</td>
                </tr>
            </table>
               <div class="col-md-12 text-center">
              <a href="{:url('st/studyplan')}"> <button type="button" class="btn btn-primary">Previous</button>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                   <button type="button" class="btn btn-primary" id="submit1">Save and Next</button>
               </div>
           </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var viewer = new Viewer(document.getElementById('imclude'));
    $(function () {
        $('.condate').datetimepicker({
            format: 'yyyy-mm-dd',
            todayBtn:'true',
            autoclose:'true',
            todayHighlight:'true',
            viewSelect:'month',
            startView: 2,
            minView: 2

        });
    });

    $(function () {


        $("#up1").on('change', function(){

            $.ajax({
                url: "{:url('st/upload1')}",
                type: 'POST',
                cache: false,
                data: new FormData($('#form1')[0]),
                processData: false,
                contentType: false,

                success : function(data) {
                    // alert(data.status);
                    $("#im1").attr({src:"/uploads/"+data.status});
                    $("#passport").val("/uploads/"+data.status);
                }
            })
        });
        $("#up2").on('change', function(){

            $.ajax({
                url: "{:url('st/upload2')}",
                type: 'POST',
                cache: false,
                data: new FormData($('#form1')[0]),
                processData: false,
                contentType: false,

                success : function(data) {
                    // alert(data.status);
                    $("#im2").attr({src:"/uploads/"+data.status});
                    $("#graduation").val("/uploads/"+data.status);
                }
            })
        });
        $("#up3").on('change', function(){

            $.ajax({
                url: "{:url('st/upload3')}",
                type: 'POST',
                cache: false,
                data: new FormData($('#form1')[0]),
                processData: false,
                contentType: false,

                success : function(data) {
                    // alert(data.status);
                    $("#im3").attr({src:"/uploads/"+data.status});
                    $("#transcript").val("/uploads/"+data.status);
                }
            })
        });
    });


    $(function () {
        $("#submit1").on('click',function () {

            $.ajax({
                type: 'post',
                url: "{:url('st/inserteducation')}",
                data: $('#form1').serialize(),
                datatype: 'json',
                success: function (data) {

                    if (data.status == 1) {
                        alert(data.stid1);
                        var url="{:url('student/st/fill1')}";

                        window.location.href=url;
                    }else {
                        alert(data.message);
                    }
                }



            })

        })

    });
    function addaaa() {
        $("#basic tr:last").after(" <tr>\n" +
            "                    <td>\n" +
            "                        <div class=\"row\">\n" +
            "\n" +
            "                            <div class=\"form-group col-md-11\">\n" +
            "                                <div class='input-group date condate'  >\n" +
            "                                    <input type='text' name=\"yearfrom[]\" class=\"form-control\" />\n" +
            "                                    <span class=\"input-group-addon\"><span class=\"glyphicon glyphicon-calendar\"></span>\n" +
            "                    </span>\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "\n" +
            "\n" +
            "                        </div>\n" +
            "                    </td>\n" +
            "                    <td>\n" +
            "                        <div class=\"row\">\n" +
            "\n" +
            "                            <div class=\"form-group col-md-11\">\n" +
            "                                <div class='input-group date condate'  >\n" +
            "                                    <input type='text' name=\"yearto[]\" class=\"form-control\" />\n" +
            "                                    <span class=\"input-group-addon\"><span class=\"glyphicon glyphicon-calendar\"></span>\n" +
            "                    </span>\n" +
            "                                </div>\n" +
            "                            </div>\n" +
            "\n" +
            "\n" +
            "                        </div>\n" +
            "                    </td>\n" +
            "                    <td><input type=\"text\" class=\"form-control\" placeholder=\"\" name=\"schoolname[]\" ></td>\n" +
            "                    <td><input type=\"text\" class=\"form-control\" placeholder=\"\" name=\"fieldstudy[]\" ></td>\n" +
            "                    <td class=\"text-center\"><button type=\"button\" class=\"btn btn-primary btn-xs\" onclick=\"\n" +
            "delNew(this)\">delete</button></td>\n" +
            "                </tr>");
        $('.condate').datetimepicker({
            format: 'yyyy-mm-dd',
            todayBtn:'true',
            autoclose:'true',
            todayHighlight:'true',
            viewSelect:'month',
            startView: 2,
            minView: 2

        });

    }

    function delNew(nowTr) {
        $(nowTr).parent().parent().remove();
    }

</script>
</html>