<div class="row bg-primary" >
    <p class="text-right" style="font-size: larger">Welcome! &nbsp;<b style="color:yellow;">{$user|default='123'}</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <a style="color: white;" class="text-right" href="{:url('logout')}">Sign out</a>  &nbsp;&nbsp;   </p>
    <div class="col-md-12 text-center"><h2 style="">China International Student Service System</h2>

    </div>

</div>
<div class="row bg-info" style="height: 55px">
    <nav class="navbar  " style="padding-left: 20px;">
        <a class="navbar-brand" href="{:url('apply')}">Application</a> <a class="navbar-brand" href="#">Application Query</a>
    </nav>
</div>
<style>
    a:hover{
        background-color: #555;
        color: white;
    }
    .btn-primary:hover{
        background-color:#555 !important;
    }
    a.putong:hover{
           color: red;
        background-color: white;


    }
    a.putong{
        color: blue;

    }
    a.putong:link{
        text-decoration:none;
    }
</style>
